<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}
</style>
<style>
    .diamond {
        width: 70px;
        height: 70px;
        background-color: #dddddd;
        position:relative;
        transform:rotate(-45deg)
    }
    
    </style>
</head>


<body>

<h2>Triangle Up CSS</h2>
<div class="triangle-up"></div>
<div class="triangle-up"></div>

<div class="diamond"></div>

</body>
</html> 